<!DOCTYPE html>
<html lang="es">

<head id="mainHead">

  <!-- DataTables -->
  <link rel="stylesheet" href="../../../public/adminlte.3.2.0/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../public/adminlte.3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../../../public/adminlte.3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

  <!-- Tiny wysiwyg editor -->
  <script src="https://cdn.tiny.cloud/1/mj7oj9b3thngvf1uh9hrwz93cirqz039nk63xvwi6s5krv58/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
</head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" id="mainNav"></nav>
    <!-- /.Navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4" id="mainAside"></aside>
    <!-- /.control-sidebar -->

    <!-- Dinamic Main Content -->
    <div class="content-wrapper" id="mainDinamic"></div>
    <!-- /. Dinamic Main Content -->

    <!-- Footer -->
    <footer class="main-footer" id="mainFooter"></footer>
    <!-- /. Footer -->

  </div>
  <!-- ./wrapper -->

  <!-- Scripts -->
  <script src="../../layouts/mainHead/mainHead.js"></script>
  <script src="../../layouts/mainNav/mainNav.js"></script>
  <script src="../../layouts/mainAside/mainAside.js"></script>
  <script src="../../layouts/mainDinamic/mainDinamic.js"></script>
  <script src="../../layouts/mainFooter/mainFooter.js"></script>
  
  <!-- jQuery -->
  <script src="../../../public/adminlte.3.2.0/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../../public/adminlte.3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- DataTables  & Plugins -->
  <script src="../../../public/adminlte.3.2.0/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../../../public/adminlte.3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../../../public/adminlte.3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../../../public/adminlte.3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../../../public/adminlte.3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../../../public/adminlte.3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="../../../public/adminlte.3.2.0/plugins/jszip/jszip.min.js"></script>
  <script src="../../../public/adminlte.3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
  <script src="../../../public/adminlte.3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
  <script src="../../../public/adminlte.3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../../../public/adminlte.3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../../../public/adminlte.3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../../public/adminlte.3.2.0/js/adminlte.min.js"></script>

  <script src="../../../public/adminlte.3.2.0/js/functions/dataTable.js"></script>
  <script src="ticketsAbiertos.js"></script>
  <script src="../../../public/adminlte.3.2.0/js/functions/wysiwyg.js"></script>
 
  
</body>

</html>