<!DOCTYPE html>
<html lang="es">

<head id="mainHead"></head>

<body class="hold-transition sidebar-mini">
  <div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light" id="mainNav"></nav>
    <!-- /.Navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4" id="mainAside"></aside>
    <!-- /.control-sidebar -->

    <!-- Dinamic Main Content -->
    <div class="content-wrapper" id="mainDinamic"></div>
    <!-- /. Dinamic Main Content -->

    <!-- Footer -->
    <footer class="main-footer" id="mainFooter"></footer>
    <!-- /. Footer -->

  </div>
  <!-- ./wrapper -->

  <!-- Scripts -->
  <script src="../layouts/mainHead/mainHead.js"></script>
  <script src="../layouts/mainNav/mainNav.js"></script>
  <script src="../layouts/mainAside/mainAside.js"></script>
  <script src="../layouts/mainDinamic/mainDinamic.js"></script>
  

  <script src="../layouts/mainFooter/mainFooter.js"></script>
  <script src="../layouts/mainJs/mainJs.js"></script>
  <script id="scriptBienvenido" src="../pages/bienvenido/bienvenido.js"></script>
  <script>
    mainJs();
  </script>

</body>

</html>
